.item {
  border: 1px solid #3f3f3f;
  border-radius: 8px;
  box-shadow: #333333 0 0.2em 1em;
}
.bold {
  font-weight: bold;
}

input {
  border: none;
  background: none;
}
.itemInput #title {
  border-bottom: 0.5px solid #2f2f2f;
}
.form-control:focus {
  border-color: inherit;
  -webkit-box-shadow: none;
  box-shadow: none;
  background: none;
}
.title {
  color: rgba(243, 41, 41, 0.8);
}
a {
  text-decoration: none;
  color: inherit;
}
